<div class="links-con">
    <ul>
        <li><a href="privacypolicy.html" target="_blank">Privacy Policy</a></li>
        <li><a href="termsofservice.html" target="_blank">Terms Of Service</a></li>
        <li><a href="https://policies.google.com/privacy?hl=en" target="_blank">Google Privacy Policy</a></li>
        <li><a href="https://www.youtube.com/static?template=terms">YouTube Terms Of Service</a></li>
        
       
    </ul>
</div>